@{
    ViewData["Title"] = "ReportList";
}

<div class="text-center">
    <h1 class="display-4">Сервис предоставления отчетов</h1>
    <h3>Список отчетов:</h3>
    <a asp-action="Index" asp-controller="ExchangeRateReport">Отчет по курсам валют </a> <br/>
    <a asp-action="Index" asp-controller="PaymentOnDateRangeReport">Отчет по зарплатам сотрудников </a><br/>
    <a asp-action="Index" asp-controller="ExchangeRateReport">Отчет по выплатам сотрудникам </a><br/>
</div>


