@{
    ViewData["Title"] = "Project Info";
}
<h1>@ViewData["Title"]:</h1>

<h3>Сервис предоставления отчетов по данным компании:</h3>
<h4>Представленные  отчеты:</h4>

<h4>1. Отчет о курсах валют - отчет содержит данные о курсах выбранных валют за выбранный промежуток времени. </h4>
<p>Параметры запроса:  </p>
<p>1. startDate - Начало промежутка для предоставления курсов валют</p>
<p>2. endDate - Конец промежутка для предоставления курсов валют</p>
<p>3. Currencies - Валюты, по которым необходимы курсы</p>

<h4>2. Отчет о зарплате на дату - отчет содержит данные о зарплатах на определенную дату </h4>
<p>Параметры запроса:  </p>
<p>1. Date - дата снятия данных </p>
<p>2. IncludedOffices - Офисы, данные по которым включаются в отчет</p>
<p>3. Included Countries- Страны, данные по которым включаются в отчет(включаются все офисы, расположенные в данной стране)</p>

<h4>3. Отчет о выплатах за период - отчет содержит выплатах зарплат, которые должны быть произведены за определенный период </h4>
<p>Параметры запроса:  </p>
<p>1. startDate - Начало периода </p>
<p>2. endDate - Конец периода</p>
<p>2. IncludedOffices - Офисы, данные по которым включаются в отчет</p>
<p>3. Included Countries- Страны, данные по которым включаются в отчет(включаются все офисы, расположенные в данной стране)</p>

